<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8" >
    <title>ListOfStudents</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>

<div th:replace = "navbar :: navbar"></div>

<div class = "text-center">
    <h2> Here is the list of students in <span th:text = "${students[0].classes.subject}"></span> class</h2>
</div>

<div class="card card-body mt-5">

    <table class="table table-sm table-hover border ">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Phone No</th>
        </tr>

        <tr th:each = "Student : ${students}">
            <td th:text = "${Student.firstName}"></td>
            <td th:text = "${Student.lastName}"></td>
            <td th:text = "${Student.age}"></td>
            <td th:text = "${Student.phoneNo}"></td>

        </tr>

    </table>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>